<% content_for :content do %>
    <div class="vertical-center">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading">Sign Up</div>
          <div class="panel-body">
            <br>
            <%= form_for(:workers, :url => {:controller => 'workers', :action => 'create'}) do |f| %>
                <%= f.text_field :username, :placeholder => 'Username', class: 'form-control'%>
                <br>
                <%= f.text_field :email, :placeholder => 'Email', class: 'form-control'%>
                <br>
                <%= f.password_field :password, :placeholder => 'Password', class: 'form-control'%>
                <br>
                <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password', class: 'form-control'%>
                <br>
                <%= f.submit :value => 'Sign Up', class: 'btn btn-block btn-primary' %>
            <% end %>
            <% if @worker.errors.any? %>
                <ul class="Signup_Errors">
                  <% for message_error in @worker.errors.full_messages %>
                      <li>* <%= message_error %></li>
                  <% end %>
                </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>