<!DOCTYPE html>
<html>
<head>
  <title>Warehouse</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">WareHouse</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if session[:worker_id]%>
          <li><%= link_to('Workers',{ action: 'index', controller: 'workers'}) %></li>
          <li><%= link_to('Products',{ action: 'index', controller: 'products'}) %></li>
          <li><%= link_to('Groups',{ action: 'index', controller: 'groups'}) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% unless session[:worker_id]%>
          <li><%= link_to(raw('<span class="glyphicon glyphicon-log-in"></span> Login'),{ action: 'login', controller: 'application'}) %></li>
        <% end %>
        <% if session[:worker_id]%>
          <li><%= link_to(raw('<span class="glyphicon glyphicon-log-in"></span> Logout'),{ action: 'logout', controller: 'application'}) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="vertical-center">
    <div class="col-xs-12">
      <%= render 'layouts/notice' %>
      <div class="panel panel-default">
        <%= yield :content %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
